<div style="text-align: centre;display: flex;justify-content: space-around;align-items: center;">
    <div>
        <h2 style="color: rgb(224, 24, 13);">{{ f["d_name"] }}</h2>
    
    <p style="font-size: 20px;font-style: italic; font-weight: 800;">
        
         {{ f["h_name"] }} <br>
        speciality:{{ f["spec"] }}<br>
        fees:{{ f["fee"] }}<br>
        ranking:{{ f["rank"] }}
    </p>
    </div>
    
    <button style="display:flex;
        justify-content:space-between;
        margin: 8px;
        border:px;
        border-color: rgb(26, 26, 156);
        padding: 10px;
        border-radius: 25px;
        font-size:25px;
        width:300px;
        text-align:center;">BOOK APPOINTMENTS</button>
    
  </div>
